.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #413F42;
    color: white;
}

.home {
    margin-left: 2rem;
    cursor: pointer;
}

.toolbar nav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toolbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.toolbar li {
    margin-left: 2rem;
    white-space: nowrap;
}

.toolbar a {
    color: white;
    text-decoration: none;
}

.toolbar a.active {
    color: aquamarine;
    padding-bottom: 0.25rem;
    border-bottom: 3px solid aquamarine;
}